@font-face {
  font-family: 'Stem';
  font-weight: 400;
  src: url('../../fonts/Stem.otf');
}
@font-face {
  font-family: 'Stem';
  font-weight: 700;
  src: url('../../fonts/Stem-Bold.otf');
}
@font-face {
  font-family: 'Moreno';
  font-weight: 500;
  src: url('../../fonts/Moreno-SemiBold.otf');
}
